@model Artists.DAL.Entities.Artist

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Artists</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)

        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Site)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Site)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>
        <dd>
            <table class="table">
                <tr>
                    <th>Talents</th>
                    <th>Biography</th>
                </tr>
                @foreach (var item in Model.ArtistDetails)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Talent)</td>
                        <td>@Html.DisplayFor(modelItem => item.Details)</td>
                    </tr>
                }
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
    <a asp-action="Index">Back to List</a>
</div>